body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: cornflowerblue;
  padding: 2%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.note{
  padding: 1rem;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  filter: drop-shadow(0 0 0.30rem black);
}

.note-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notes-list{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.edit-button{
  padding: 12px 18px;
  border-radius: 50px;
  margin: 5px;
  border: 1px gray;
  background-color: rgb(234, 234, 234);
}

.edit-button:hover{
  cursor: pointer;
}

.delete-button{
  padding: 12px 18px;
  border-radius: 50px;
  margin: 5px;
  border: 1px gray;
  background-color: rgb(234, 234, 234);
}

.delete-button:hover{
  cursor: pointer;
}

.note-create{
  width: 90%;
  text-align: center;
  margin: auto;
  margin: 3%;
  background-color: white;
  padding: 2%;
}

.note-create textarea{
  width: 80vw;
  height: 100px;
}

.create{
  padding: 12px 18px;
  margin: 5px;
  border: 1px gray;
  background-color: rgb(33, 159, 255);
  color: white;
}

.create:hover{
  cursor: pointer;
}